h5 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 20px;
}

.portfolioTitle {
  padding: 0 110px;
  text-align: left;
}

.portfolioTitle p {
  font-size: 15px;
  text-align: center;
  margin-bottom: 60px;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.singleProject a {
  font-size: 30px;
}

.singleProject p {
  font-size: 20px;
}

.singleProject span {
  background: rgba(0, 0, 0, 0.7);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: 1s;
}

.singleProject:hover span {
  opacity: 1;
}

.singleProject a:hover {
  cursor: pointer;
}
