.mainTitle {
  position: relative;
  display: block;
  background-color: #ededed;
  height: 100%;
  padding: 20px 0px 0px 100px;
  text-align: left;
  animation-name: appearance;
  animation-duration: 8s;
}

@keyframes appearance {
  from {
    display: none;
  }
  to {
    display: block;
  }
}

img {
  margin: 0;
}

h1 {
  font-size: 80px;
  font-weight: 900;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  animation-name: h1appear;
  animation-duration: 1s;
}
@keyframes h1appear {
  from {
    padding-left: 400px;
  }
}

h2 {
  font-size: 40px;
  margin: 0px;
  animation-name: h2appear;
  animation-duration: 0.5s;
}

@keyframes h2appear {
  from {
    padding-left: 300px;
  }
}

h3 {
  font-size: 40px;
  margin: 0px;
  animation-name: h3appear;
  animation-duration: 0.5s;
}
@keyframes h3appear {
  from {
    padding-left: 300px;
  }
}

h4 {
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  border-bottom: solid;
  border-width: 1px;
}

.nameTitles {
  height: 100%;
  float: left;
  margin-bottom: 0;
}

.profilePic {
  position: absolute;
  right: 200px;
  bottom: 0px;
  float: right;
  margin-bottom: 0;
  padding: 0;
  animation-name: profile-app;
  animation-duration: 2s;
}

@keyframes profile-app {
  from {
    right: 0;
    opacity: 0;
  }
}

.names {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.names_main {
  margin: 20px 0;
}
