.shortintro_p {
  font-size: 30px;
}

p {
  font-size: 15px;
}

.shortIntro {
  padding: 150px 350px 20px;
}

.history {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px 80px;
}

.historyParts {
  width: 550px;
  font-size: 15px;
  text-align: justify;
  margin: 0 30px;
  overflow: hidden;
}
