.shortintro_p {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 15px;
  line-height: 18px;
}

.shortIntro {
  padding: 20px;
}



.historyParts {
  font-size: 15px;
  text-align: justify;
  margin: 0 30px;
 
 
}
@media only screen and (min-width: 768px)  {

  .shortintro_p {
    font-size: 30px;
  }

  .shortIntro {
    padding: 50px  20px;
  }

  /* .history {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 00px;
  } */

  .historyParts {
    /* width: 550px; */
    font-size: 15px;
    text-align: justify;
    margin: 0 30px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1087px)  {

  .shortintro_p {
    font-size: 30px;
  }

  .shortIntro {
    padding: 50px  20px;
  }

  .history {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 00px;
  }

  .historyParts {
    width: 550px;
    font-size: 15px;
    text-align: justify;
    margin: 0 30px;
    overflow: hidden;
  }
}
