footer {
  background-color: #0f151d;
  height: 300px;
  padding: 100px 0px;
  color: white;
}

footer p {
  font-size: 15px;
}

@media only screen and (min-width: 768px) {
  footer p {
    font-size: 25px;
  }
}
